@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

body {
  font-size: 16px;
  outline-style: none;
  background-color: #202040;
  background-color: #120E39;
}

* {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  outline: none;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.row {
  margin: 20px auto;
}

.box {
  margin: 20px 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.title {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 2.5rem;
  line-height: 2.5em;
  font-weight: 500;
  color: #C8C9D1;
  margin: 20px auto;
  z-index: 100;
  position: absolute;
  bottom: 40px;
  right: 150px;
  white-space: nowrap;
}

.title-left {
  left: 90px;
  bottom: 15px;
}

.title_right {
  right: 90px;
  bottom: 15px;
}

.title-page {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 440px;
  padding-bottom: 200px;
}

.title-number {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15.5rem;
  line-height: 1.2em;
  letter-spacing: -0.1em;
  font-weight: 900;
  color: transparent;
  opacity: 0.5;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.title-number-decor {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15.5rem;
  line-height: 1.2em;
  letter-spacing: -0.1em;
  font-weight: 900;
  color: transparent;
  opacity: 0.3;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.title-number-decor_right {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15.5rem;
  line-height: 1.2em;
  letter-spacing: -0.1em;
  font-weight: 900;
  color: transparent;
  opacity: 0.3;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.text,
span li {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5em;
  color: #202040;
  text-align: justify;
  margin: 16px 0;
}

span {
  font-weight: 600;
}

a {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500 !important;
  font-size: 1rem;
  line-height: 1.5em;
  text-align: justify;
  margin: 16px 0;
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
}

.text-light {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5em;
  color: #fff !important;
  text-align: justify;
  z-index: 1010;
  margin: 12px 0;
}
.text-light a {
  color: #fff;
  text-decoration: underline;
}

.title-block-wave {
  width: 800px;
  height: 330px;
  color: transparent;
  position: relative;
  right: 0;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: right;
  background-image: url(../img/bg/bg-title-wave.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}

.title-block-decor_left {
  width: 550px;
  height: 270px;
  position: relative;
  z-index: 1000;
}
.title-block-decor_left:after {
  content: url(../img/logo/logo-element.png);
  display: block;
  width: 245px;
  height: 48px;
  bottom: 0;
  right: 30px;
  position: absolute;
  opacity: 0.5;
}

.title-block-decor_right {
  width: 550px;
  height: 270px;
  position: relative;
  right: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
}
.title-block-decor_right:after {
  content: url(../img/logo/logo-element.png);
  display: block;
  width: 245px;
  height: 48px;
  bottom: 0;
  right: 50%;
  position: absolute;
  opacity: 0.5;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.arr {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
}
.arr img {
  width: 16px;
  height: 9px;
}

.icon-soc {
  height: 25px;
  width: 26px;
  stroke: #fff;
  stroke-width: 1.2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.5s ease;
}

.icon-twitter {
  width: 25px;
  height: 21px;
}

.icon-facebook {
  width: 13px;
  height: 23px;
}

.icon-telegram {
  width: 25px;
  height: 23px;
}

.btn {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5em;
  color: #F2F2F2;
  line-height: 52px;
  height: 52px;
  min-width: 220px;
  border: 0.5px solid #F2F2F2;
  border-radius: 0;
  margin: 50px 20px;
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  outline: none;
}
.btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 70%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.12), transparent);
  transition: left 0.5s ease;
}
.btn:hover {
  color: #fff;
}
.btn:hover:after {
  left: 100%;
}
.btn_white {
  line-height: 56px;
  height: 56px;
  min-width: 250px;
  padding: 0 40px;
  background-color: #fff;
  color: #202040;
  transition: 0.4s ease;
  overflow: visible;
}
.btn_white:after {
  display: none;
}
.btn_white:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  border: none;
  transition: all 0.3s ease;
}
.btn_white:hover {
  border: 1px solid #fff;
  background-color: #202040;
}
.btn_white:hover:before {
  bottom: -15%;
  right: -5%;
  box-shadow: 0 0 15px 10px rgba(109, 14, 239, 0.7), inset 0 0 15px 10px rgba(109, 14, 239, 0.7);
  border: 1px solid #6d0eef;
  box-shadow: 0 0 15px 7px rgba(255, 255, 255, 0.6), inset 0 0 15px 7px rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.7);
}
.btn_accent {
  font-weight: 400;
  line-height: 60px;
  height: 60px;
  padding: 0 70px;
  background-color: #9D2B9D;
  border: none;
  margin: 50px auto;
}
.btn_accent:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 70%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.12), transparent);
  transition: left 0.5s ease;
  transition-delay: 0.5s;
}
.btn_accent:hover:after {
  left: 100%;
}
.btn_accent span {
  position: absolute;
  display: block;
  transition: 0.5s ease;
  background-color: #fff;
}
.btn_accent span:nth-child(1) {
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
}
.btn_accent span:nth-child(2) {
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
}
.btn_accent span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
}
.btn_accent span:nth-child(4) {
  bottom: 0;
  right: 1px;
  width: 1px;
  height: 0;
}
.btn_accent:hover {
  color: #fff;
}
.btn_accent:hover span:nth-child(1) {
  width: 100%;
  transform: translateX(100%);
}
.btn_accent:hover span:nth-child(2) {
  height: 100%;
  transform: translateY(100%);
}
.btn_accent:hover span:nth-child(3) {
  width: 100%;
  transform: translateX(-100%);
}
.btn_accent:hover span:nth-child(4) {
  height: 100%;
  transform: translateY(-100%);
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-menu:before {
  display: none;
}
.nav-menu__item {
  margin: 0 0 0 45px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.nav-menu__item:before {
  display: none;
}
.nav-menu__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5em;
  color: #F2F2F2;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 500;
  transition: 0.5s linear;
  height: 100px;
}
.nav-btn {
  display: none;
}

.head {
  display: block;
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 100;
}

.logo {
  width: 80px;
  height: auto;
  position: relative;
  z-index: 100;
}
.logo img {
  width: 80px;
  height: auto;
  object-fit: cover;
  object-position: center;
  z-index: 1000;
}
.logo:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #0B0B2F 0%, rgba(20, 15, 61, 0.5) 87%, rgba(20, 15, 61, 0) 100%);
  z-index: -10;
}

.hero {
  width: 100%;
  height: 100vh;
  max-height: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background-image: url(../img/bg/bg-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  background-position: top center;
  z-index: 10;
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.1);
}
.hero-wrap {
  width: 100%;
  height: 100vh;
  max-height: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}
.hero-box, .hero-box-decor, .hero-box-decor-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin: auto 0;
  width: 800px;
  height: 400px;
  background: #15103C;
  opacity: 0.95;
  padding: 90px;
}
.hero-box h1, .hero-box h2, .hero-box-decor h1, .hero-box-decor h2, .hero-box-decor-2 h1, .hero-box-decor-2 h2 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #F2F2F2;
  text-transform: uppercase;
}
.hero-box h2, .hero-box-decor h2, .hero-box-decor-2 h2 {
  font-size: 1.25rem;
  margin: 20px auto;
}
.hero-box-decor, .hero-box-decor-2, .hero-box-decor-decor, .hero-box-decor-decor-2, .hero-box-decor-2-decor, .hero-box-decor-2-decor-2 {
  width: 816px;
  height: 420px;
  position: absolute;
  overflow: hidden;
  background-color: transparent;
}
.hero-box-decor-2, .hero-box-decor-decor-2, .hero-box-decor-2-decor-2 {
  left: 50%;
  transform: rotate(180deg), translate(50%, 0);
}
.hero-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hero-box-decor-element:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, #A103BD);
  animation: animate-span1 3s linear infinite;
  animation-delay: 1.5s;
}

@keyframes animate-span1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.hero-box-decor-element:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #A103BD);
  animation: animate-span2 3s linear infinite;
}

@keyframes animate-span2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.hero-box-decor-element:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, #41BAA6);
  animation: animate-span3 3s linear infinite;
  animation-delay: 1.5s;
}

@keyframes animate-span3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.hero-box-decor-element:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to top, transparent, #41BAA6);
  animation: animate-span4 3s linear infinite;
}

@keyframes animate-span4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.scroll {
  height: 150px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 200;
  bottom: -7%;
}
.scroll-line {
  height: 130px;
  width: 3px;
  background: linear-gradient(257deg, transparent 0, #B423A5 100%);
}
.scroll-circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #202040;
  animation-name: box-shadow;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes box-shadow {
  0% {
    box-shadow: 0 0 0 3px rgba(170, 36, 162, 0.55), 0 0 0 6px rgba(170, 36, 162, 0.1);
  }
  50% {
    box-shadow: 0 0 0 4px rgba(170, 36, 162, 0.6), 0 0 0 8px rgba(170, 36, 162, 0.5), 0 0 0 12px rgba(170, 36, 162, 0.4), 0 0 0 16px rgba(170, 36, 162, 0.3), 0 0 0 20px rgba(170, 36, 162, 0.2), 0 0 0 24px rgba(170, 36, 162, 0.1);
  }
  100% {
    box-shadow: 0 0 0 3px rgba(170, 36, 162, 0.55), 0 0 0 6px rgba(170, 36, 162, 0.1);
  }
}
.about {
  position: relative;
  margin-bottom: 50px;
}
.about-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.about-slider {
  width: 830px;
  height: auto;
  background: linear-gradient(to top, rgba(189, 82, 191, 0.8) 0%, rgba(176, 23, 179, 0.8) 59.38%, rgba(99, 13, 100, 0.8) 100%), url(../img/content-img/Power-Grid.png);
  background: linear-gradient(to top, rgba(109, 14, 239, 0.8) 0%, rgba(161, 3, 189, 0.8) 59.38%, rgba(180, 76, 212, 0.88) 100%), url(../img/content-img/Power-Grid.png);
  background: linear-gradient(to top, rgba(109, 14, 239, 0.8) 0%, rgba(99, 13, 100, 0.85) 50%, rgba(161, 3, 189, 0.85) 100%), url(../img/content-img/Power-Grid.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 120% 120%;
}
.about-slider:before {
  content: "";
  width: 27%;
  height: 120%;
  display: block;
  position: absolute;
  top: -10%;
  left: -10%;
  border: 0.5px solid #fff;
  z-index: -1;
  opacity: 0.4;
}
.about-slider:after {
  content: "";
  width: 115%;
  height: 80%;
  display: block;
  position: absolute;
  top: 10%;
  left: -5%;
  color: #F2F2F2;
  background-color: #F2F2F2;
  z-index: -1;
}
.about-slider-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 50px;
}
.about-slider__item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 65px 100px 80px 65px;
  outline: none;
  position: relative;
  z-index: 1000;
}
.about-slider__decor {
  width: 245px;
  height: auto;
  position: absolute;
  right: 20px;
  bottom: 0;
  margin: 20px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.about-slider__nav {
  height: 350px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 0 auto 180px;
}
.about-slider__dots {
  height: 130px;
  width: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}
.about-slider__dots .slick-dots {
  flex-direction: column;
}
.about-slider__dots li {
  margin: 10px auto;
  width: 26px;
  height: 26px;
  opacity: 0.3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.about-slider__dots li button {
  width: 7px;
  height: 7px;
  padding: 0;
  background-color: #fff;
  content: none;
  outline: none;
}

.slick-dots {
  display: flex !important;
  bottom: 0;
}
.slick-active {
  opacity: 1 !important;
}

.attainment {
  margin: 120px auto -100px;
  position: relative;
  overflow: hidden;
}
.attainment:before {
  width: 90%;
  height: 40%;
  content: "";
  display: block;
  position: absolute;
  background-color: #DADADA;
  position: absolute;
  left: 22%;
  top: 38%;
}
.attainment:after {
  width: 100%;
  height: 70%;
  content: "";
  display: block;
  position: relative;
  background-color: #630D64;
  position: absolute;
  left: 15%;
  top: 20px;
}
.attainment-wrap {
  position: relative;
}
.attainment_list {
  width: 1218px;
  height: 1000px;
  position: relative;
  top: -270px;
  z-index: 10;
}
.attainment__item1, .attainment__item2, .attainment__item3 {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 40px 50px 50px 28px;
}
.attainment__item1 .text-light, .attainment__item2 .text-light, .attainment__item3 .text-light {
  text-align: left;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
}
.attainment__item1 .text-light span, .attainment__item2 .text-light span, .attainment__item3 .text-light span {
  display: block;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 2.5rem;
  line-height: 1.5em;
  font-weight: 500;
  color: #F2F2F2;
}
.attainment__item1:after, .attainment__item2:after, .attainment__item3:after {
  content: "";
  display: inline-block;
  background-color: #202040;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.attainment__item1:before, .attainment__item2:before, .attainment__item3:before {
  content: "";
  display: block;
  position: absolute;
  border: 0.5px solid #F2F2F2;
  opacity: 0.3;
  z-index: -1;
}
.attainment__item1 {
  width: 414px;
  height: 301px;
  background-image: url(../img/content-img/attainment__item1.png);
  top: 140px;
  right: 0;
  text-align: right;
}
.attainment__item1:before {
  width: 114%;
  height: 40%;
  top: -7%;
  left: -7%;
}
.attainment__item2 {
  width: 394px;
  height: 299px;
  bottom: 270px;
  left: 180px;
  background-image: url(../img/content-img/attainment__item2.png);
}
.attainment__item2:before {
  width: 60%;
  height: 114%;
  left: -5%;
  top: -7%;
}
.attainment__item3 {
  width: 441px;
  height: 293px;
  bottom: 50px;
  right: 80px;
  background-image: url(../img/content-img/attainment__item3.png);
}
.attainment__item3:before {
  width: 90%;
  height: 90%;
  right: -7%;
  top: -7%;
}

.advantages {
  overflow: hidden;
}
.advantages-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.advantages-wrap:before {
  content: "";
  background-image: url(../img/bg/bg-title-wave.png);
  background-size: 80%;
  background-position: top right;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 500px;
  position: absolute;
  right: -220px;
  top: 10%;
}
.advantages-wrap .row {
  justify-content: space-between;
}
.advantages_list {
  margin: 120px auto 20px;
  position: relative;
}
.advantages_list:before {
  content: "";
  display: block;
  position: absolute;
  border: 0.5px solid #fff;
  width: 120%;
  height: 40%;
  z-index: -1;
  opacity: 0.2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.advantages__item {
  width: 300px;
  height: 120px;
  background-color: #F2F2F2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 28px 0 85px;
  margin: 20px 40px 20px 60px;
  position: relative;
}
.advantages__item .text {
  text-align: left;
}
.advantages__img {
  width: 100px;
  height: 80px;
  background-color: #9D2B9D;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  position: absolute;
  left: -45px;
  border: 0.1px solid rgba(242, 242, 242, 0.4);
}
.advantages__img img {
  width: 100%;
  height: 48px;
  object-fit: contain;
  object-position: center;
}

.steps {
  position: relative;
  margin: 10px auto 150px;
  overflow: visible;
}
.steps:before {
  content: "";
  background-image: url(../img/bg/bg-section-2waves.png);
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 85%;
  display: block;
  position: absolute;
  top: 27%;
  opacity: 0.85;
}
.steps-wrap {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-end;
}
.steps-tabmenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  margin: 140px auto 20px;
}
.steps-list {
  vertical-align: top;
  padding: 0;
}
.steps-list__content {
  width: 100%;
  height: 420px;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  background: linear-gradient(to top, rgba(215, 72, 214, 0.85), rgba(99, 13, 100, 0.85)), url(../img/content-img/steps.png);
  background: linear-gradient(to top, rgba(215, 72, 214, 0.85), rgba(99, 13, 100, 0.85) 100%), url(../img/content-img/steps.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.steps-list__about {
  height: 420px;
  margin: 0;
  padding: 80px 80px 20px 50px;
  opacity: 0;
  left: 0;
  transform: translateX(50px);
  position: absolute;
  list-style: none;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.steps-list__about .text-light {
  line-height: 1.8;
  text-align: left;
}
.steps-list__about .btn {
  margin: 40px 0 5px;
}
.steps-list__about img {
  opacity: 0.7;
}
.steps-list__about.active {
  transition-delay: 0.3s;
  z-index: 2;
  opacity: 1;
  transform: translateX(0px);
}
.steps-list__text {
  color: #630D64;
  opacity: 0.7;
  display: inline-block;
  margin: 0;
}
.steps-list-number {
  font-size: 2.5rem;
  left: 0;
  vertical-align: middle;
  margin: auto 20px;
  position: relative;
  display: inline-block;
  opacity: 1;
  -webkit-text-stroke-width: 1px;
}
.steps__item {
  padding: 15px 20px 15px 20px;
  background: #F2F2F2;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.steps__item:hover {
  background: #fff;
}
.steps__item:hover .steps-list__text {
  opacity: 1;
}
.steps__item:hover .steps-list-number {
  -webkit-text-stroke-color: #630D64;
  -webkit-text-stroke-width: 0.5px;
}
.steps__item .light {
  height: 0;
  width: 0;
  position: absolute;
  top: 24px;
  left: 10px;
  background-color: #F2F2F2;
  border-radius: 100%;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.steps__item.active span.light {
  background-color: #B44CD4;
  left: 2px;
  height: 100%;
  width: 5px;
  top: 0;
  border-radius: 0;
}
.steps__item.active .steps-list-number {
  font-size: 4.3rem;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: #630D64;
  margin-left: 5px;
}
.steps__item.active .steps-list__text {
  opacity: 1;
}
.steps__item.active {
  background: #fff;
  padding: 15px 20px 15px 20px;
}

.map .title-block-wave {
  margin-bottom: 50px;
}
.map-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.map__img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}
.map-info {
  padding-left: 80px;
}
.map-info:before {
  content: "";
  display: block;
  height: 110%;
  width: 76%;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  position: absolute;
  right: -5%;
  top: -5%;
  z-index: -1;
}
.map-info__item {
  background-color: #fff;
  padding: 7px 30px 7px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 0;
}
.map-info__item img {
  margin: auto 30px auto 20px;
}
.map-info__item .text {
  text-align: left;
}

.links {
  margin: 120px auto 0;
  position: relative;
  overflow: hidden;
}
.links:before {
  content: "";
  background-image: url(../img/bg/bg-section-wave.png);
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
}
.links-slider-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 100px auto 40px;
}
.links-slider__bg {
  width: 820px;
  height: 354px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  background: linear-gradient(to top, rgba(215, 72, 214, 0.85), rgba(99, 13, 100, 0.85)), url(../img/content-img/links.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.links-slider__bg:before {
  content: "";
  display: block;
  position: absolute;
  width: 150%;
  height: 50%;
  top: 20%;
  border: 0.5px solid #fff;
  background-color: transparent;
  opacity: 0.5;
  z-index: -1;
}
.links-slider {
  margin-top: 8%;
}
.links-slider__item {
  width: 340px;
  height: 200px;
  background-color: #fff;
  margin: 15px;
  padding: 0;
  padding-right: 10px;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}
.links-slider__nav {
  height: 30px;
  width: 550px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 80px auto;
}
.links-slider__dots {
  height: 30px;
  width: 330px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto 40px;
}
.links-slider__dots li {
  margin: auto 10px;
  width: 26px;
  height: 26px;
  opacity: 0.3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.links-slider__dots li button {
  width: 7px;
  height: 7px;
  padding: 0;
  background-color: #fff;
  content: none;
  outline: none;
}
.links-prev__arr, .links-next__arr {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.links-prev__arr img, .links-next__arr img {
  width: 9px;
  height: 16px;
}
.links__img {
  height: auto;
  width: 50%;
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.links__img img {
  height: 100%;
  width: auto;
  object-fit: contain;
  object-position: top left;
  margin: 0;
}
.links__text {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.links__text p {
  line-height: 1.3;
  text-align: center;
  font-weight: 600;
}

.contacts {
  margin: 60px auto 180px;
}
.contacts .title-block-decor_right {
  margin-bottom: -100px;
}
.contacts-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
}
.contacts-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}
.contacts-info__about {
  background-color: #a103bd;
  background-color: #630D64;
  padding: 120px 20px 70px 25px;
  text-align: left;
  position: relative;
}
.contacts-info__about:before {
  content: "";
  display: block;
  width: 80%;
  height: 110%;
  position: absolute;
  bottom: -5%;
  left: -12%;
  border: 0.5px solid #fff;
  opacity: 0.4;
  z-index: -1;
}
.contacts-info__about:after {
  content: "";
  display: block;
  width: 55%;
  height: 104%;
  position: absolute;
  top: -10%;
  left: -4%;
  background-color: #fff;
  z-index: -1;
}
.contacts-info__about p span {
  margin-right: 15px;
}
.contacts-info__title {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0 65px;
}
.contacts-info-list {
  min-height: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}
.contacts-info-list:before {
  content: "";
  display: block;
  position: absolute;
  width: 110%;
  height: 50%;
  border: 0.5px solid #fff;
  opacity: 0.5;
  bottom: -7%;
  left: -5%;
}
.contacts-info__item {
  width: 230px;
  min-height: 250px;
  padding: 35px 10px 20px;
  margin: 20px 15px 0;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  clear: both;
}
.contacts-info__item p {
  text-align: center;
  margin: 5px auto;
  line-height: 1.7;
}
.contacts-info__item p span {
  text-align: center;
}
.contacts-info__icon {
  max-width: 30px;
  max-height: 35px;
  margin-bottom: 35px;
  overflow: hidden;
}
.contacts-info__icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
.contacts-info__decor {
  opacity: 0.5;
  margin-top: 25px;
  width: 150px;
  height: auto;
}

.help {
  margin: 140px auto;
}
.help .text-light a {
  text-decoration: none;
}

.footer-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.footer-info {
  background: linear-gradient(to top, rgba(99, 13, 100, 0.85), rgba(215, 72, 214, 0.85)), url(../img/content-img/footer-img.png);
  background: linear-gradient(to top, rgba(109, 14, 239, 0.85) 0%, rgba(99, 13, 100, 0.85) 100%), url(../img/content-img/footer-img.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 40px 0;
}
.footer-info-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer__logo {
  width: 100px;
  height: auto;
  margin: 0 42px 50px;
}
.footer__logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
.footer-soc {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
}
.footer-soc__item {
  width: 55px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 12px 0 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  transition: all 0.5s ease;
  position: relative;
}
.footer-soc__item img {
  height: 21px;
  width: auto;
  object-fit: contain;
  object-position: center;
}
.footer-soc__item:hover {
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);
  background-color: #fff;
}
.footer-soc__item:hover .icon-soc {
  stroke: #630D64;
}
.footer-menu {
  margin: 6px 0;
  color: #000;
}
.footer-copy {
  background-color: #0F0F1F;
  height: 60px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-copy .text-light {
  font-size: 0.75rem;
}

.link {
  padding: 5px 15px;
  margin: 2px 0;
  position: relative;
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  background-position: 100% 100%;
  background-repeat: repeat-x;
  background-size: 0 0;
  transition: background-size 0.2s ease;
}
.link:hover {
  background-size: 1px 40px;
}
.link:hover a.text-light {
  color: #202040 !important;
}

.top {
  position: fixed;
  bottom: 25px;
  right: -150px;
  background-color: #fff;
  z-index: 1200;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.6s ease;
  opacity: 0.4;
}
.top:hover {
  opacity: 1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  width: 60px;
  height: 60px;
  box-shadow: 0 0 15px 8px rgba(255, 255, 255, 0.3);
}
.top.active {
  right: 25px;
}
.top img {
  height: 30px;
  width: 8px;
}

@keyframes box-shadow-light {
  0% {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.55), 0 0 0 6px rgba(255, 255, 255, 0.1);
  }
  50% {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.6), 0 0 0 8px rgba(255, 255, 255, 0.5), 0 0 0 12px rgba(255, 255, 255, 0.4), 0 0 0 16px rgba(255, 255, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.55), 0 0 0 6px rgba(255, 255, 255, 0.1);
  }
}
.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 27, 63, 0.7);
  z-index: 2000;
}

.modal-content,
.modal-answer {
  width: 800px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 60px 80px 50px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal-answer {
  width: 400px;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 15px;
  background-image: url(../img/Vector.png);
  background-size: 100% 100%;
  background-position: center center;
  outline: none;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.soc-menu {
  filter: url("#shadowed-goo");
}

.menu-item, .menu-open-button {
  background: linear-gradient(284.54deg, #01C9FF 0%, #6647E9 100%);
  border-radius: 100%;
  width: 54px;
  height: 54px;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 55px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu-item {
  width: 65px;
  height: 65px;
  opacity: 0;
}

.tlg,
.tw {
  width: 28px;
  height: auto;
}

.fb {
  width: 11px;
  height: auto;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 23px;
  height: 2px;
  background: white;
  display: block;
  position: absolute;
  transition: transform 200ms;
}

.hamburger-1 {
  transform: translate3d(0, -6px, 0);
}

.hamburger-2 {
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  transform: translate3d(0, 6px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .hamburger-2 {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .hamburger-3 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.soc-menu {
  position: fixed;
  bottom: 100px;
  right: -150px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
  opacity: 0.7;
  transition: all 0.6s ease;
  z-index: 20;
}
.soc-menu:hover {
  opacity: 1;
}
.soc-menu.soc-active {
  right: 25px;
}

.menu-item:hover {
  background: linear-gradient(284.54deg, #01C9FF 0%, #6647E9 100%);
  color: #01C9FF;
}

.menu-item:nth-child(3) {
  transition-duration: 70ms;
  display: none;
}

.menu-item:nth-child(4) {
  transition-duration: 130ms;
  display: none;
}

.menu-item:nth-child(5) {
  transition-duration: 190ms;
}

.menu-item:nth-child(6) {
  transition-duration: 250ms;
}

.menu-item:nth-child(7) {
  transition-duration: 310ms;
}

.menu-open-button {
  margin-left: 0;
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

/*.menu-open:checked ~ .menu-item:nth-child(3) {
	transition-duration: 160ms;
	-webkit-transform: translate3d(114.42548px, 11.48084px, 0);
	transform: translate3d(114.42548px, 11.48084px, 0);
	opacity: 1;
}
.menu-open:checked ~ .menu-item:nth-child(4) {
	transition-duration: 240ms;
	-webkit-transform: translate3d(77.18543px, 85.2491px, 0);
	transform: translate3d(77.18543px, 85.2491px, 0);
	opacity: 1;
}*/
.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 320ms;
  transform: translate3d(-10px, -85px, 0);
  opacity: 1;
}

.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 400ms;
  transform: translate3d(-68px, -54px, 0);
  opacity: 1;
}

.menu-open:checked ~ .menu-item:nth-child(7) {
  transition-duration: 480ms;
  transform: translate3d(-80px, 10px, 0);
  opacity: 1;
}

.fixed-btn {
  position: absolute;
  height: 0;
}
/*# sourceMappingURL=style.css.map */